*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul{
  list-style: none;
}

p{
  font-size: 1.7rem;
}

body{
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}

#main-div{
  height: 90vh;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.container{
  width: 70vw;
  margin: 0 auto;
  box-shadow: .1em .3em 3em #97c0fd;
}

#topContainer{
  border-radius: .3em .3em 0 0;
}
#bottomContainer{
  border-radius: 0 0 .3em .3em;
}

header{
  display: flex;
}

#logoIcon{
  font-size: 1.7em;
  align-self: center;
  padding: .3em
}

header p{
  font-size: 2rem;
  text-shadow: .1em .1em 1em #ff0084;
}

#introText{
  padding: 1em;
}

#genreButtons{
  padding: 1em 0 1em 0;
}
#genreButton{
  display: flex;
  justify-content:space-evenly;
}

button{
  cursor: pointer;
  padding: .7em 1.7em;
  background-color: #fff;
  border-radius: .3em;
  border: 0;
  box-shadow: .1em .3em 3em #777;
}

hr{
  padding: .1em;
  background-color: #7777;
  opacity: 70%;
  border: 0;
}

ul{
  padding: 1em;
}

li{
  padding: 1em;
  box-shadow: -.1em -.3em 3em #777;
  border-radius: .3em;
  margin: 0 0 1em 0;
}

li span{
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}